table{
    border-left: 1px solid #0094ff;
    border-top: 1px solid #0094ff;
    width: 80%;
    height: 35%;
    display: block;
    overflow-y:scroll;
    text-align: center;
    border-collapse: collapse;
}