

.App {
  font-family: sans-serif;
  width: 95vw;
  height: 100vh;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;

}

.outerContainer{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  .final{
    color: black;
  }
  .interim{
    color: gray;
  }
}

[contenteditable] {
  width: 90%;
  height: 100%;
  outline: 0px solid transparent;
}

.micBtn{
  text-align: center;
  height: 10%;
}

@media screen and (max-width: 600px) {
  .outerContainer{
   flex-direction: column;

   *{
     margin: 1% 0;
   }
  }
}




